.nav-item{
    color: white;
    margin: 10px;
    font-family: 'Playfair Display', serif;
}

.navbar{
    background: cornflowerblue;
}

p{
    color: black;
}

.dropdown-menu a{
    color: red;
}

.dropdown-menu {
    width: 20px;

}

.dropdown {
    margin-top: 10px;
}

#ppbackground{
    position: absolute;
    top: 20%;

    border: 2px solid grey;
    width: 800px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 200; /* brings to front/ moves to back */
    background-color: grey;
    opacity: 60%;

}

.slideimg{
    width: 80%;
    height: 650px;
    text-align: center;
    margin-left: 10%;
}

#pptitle{
    font-size: 60px;

}



